{{!--  header w nav --}}
<header id="header" class="c-header">
    <div>
        <nav class="header__links-container">
            {{!-- Menu button --}}

            <div class="header__links">
                <a href="/planets">Home</a>
                <a href="#">Part to be added</a>
                <a href="#">second part to be added</a>
            </div>

        </nav>

    </div>
</header>